.popular-property-card {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2.40527px 10.5314px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.mb-4 {
  margin-right: 0.625rem;
}

.reduced-width {
  /* Set the maximum width to 97% */
  margin: 0 auto; /* Center the cards horizontally */
}

.popular-property-card .card-body {
  padding: 0.125rem 0 0.125rem 0;
  height: 14rem;
}

.popular-property-image {
  height: 15.625rem;
  object-fit: cover;
  border-radius: 0.625rem 0.625rem 0.3125rem 0.3125rem;
}

.popular-Room-Title {
  font-family: "Plus Jakarta Sans";
  font-weight: 900;
  font-size: 0.975rem;
  line-height: 1.1875rem;
  letter-spacing: 0.03em;
  color: #000000;
}

.popular-Room-location {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-size: 0.85rem;

  letter-spacing: 0.01em;
  color: black;
}

/* Room price details div css starts */

.popular-Room-price1 {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 130%;
  letter-spacing: 0.01em;
  height: 1.25rem;
  display: flex;
  justify-content: flex-end; /* Align the content to the right end */
  color: #fa6e42;
}

.popular-Room-price2 {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 130%;
  letter-spacing: 0.01em;
  height: 1.125rem;
  display: flex;
  justify-content: flex-end; /* Align the content to the right end */
  color: #fa6e42;

  margin-left: auto;
}

/* Room area details div css */
.popular-Area-details {
  height: 2.5rem;
}

.popular-Area-details .col-xs-8 {
  padding: 0;
}

.popular-light-icon {
  color: #000000; /* Adjust the color to make the icon lighter */
  opacity: 0.7; /* Adjust the opacity to make the icon lighter */
}

.popular-property-card {
  position: relative;
}

.wishlist-button-container2 {
  position: absolute;
  bottom: 52%;
  right: 8%;
  transform: translate(50%, 50%);
}

/* /////////////////////////// xs */

/* Media Queries */

/* Small devices (portrait tablets and large phones, 576px and up) */

@media (max-width: 380px) {
  .popular-property-card {
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 2.40527px 10.5314px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 0px;
  }

  .popular-property-card .card-body {
    width: 100%;
    padding: 10px 0px 10px 0px;
  }

  .popular-Room-info {
    width: auto;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }

  .popular-Room-Title {
    padding: 0;
    font-size: 13px;
    text-align: left;
  }
  .popular-Room-location {
    padding-right: 9%;
    padding-top: -2%;
    width: 60%;
    font-size: 9px;
  }

  .popular-Room-price1 {
    padding-top: -2%;
    margin-left: auto;
    font-size: 8px;
  }

  .popular-Room-price2 {
    padding-top: -2%;
    margin-left: auto;
    font-size: 9px;
  }

  .Room-area-details {
    font-size: 8px;
  }

  .popular-light-icon {
    color: #000000; /* Adjust the color to make the icon lighter */
    opacity: 0.7; /* Adjust the opacity to make the icon lighter */
  }
  .popular-Area-details {
    margin-left: auto;
    margin-right: auto;
  }
  .Room-area-icon {
    opacity: 0.4;
  }
  .last-row {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* margin-top: 10px; */
  }
}

@media (min-width: 381px) and (max-width: 667px) {
  .popular-property-card {
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 2.40527px 10.5314px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 0px;
  }

  .popular-property-card .card-body {
    width: 100%;
    padding: 10px 0px 10px 0px;
  }

  .popular-Room-info {
    width: auto;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }

  .popular-Room-Title {
    padding: 0;
    font-size: 15px;
    text-align: left;
  }
  .popular-Room-location {
    padding-right: 9%;
    padding-top: -2%;
    width: 60%;
    font-size: 11px;
  }

  .popular-Room-price1 {
    padding-top: -2%;
    margin-left: auto;
    font-size: 10px;
  }

  .popular-Room-price2 {
    padding-top: -2%;
    margin-left: auto;
    font-size: 11px;
  }

  .Room-area-details {
    font-size: 9px;
  }

  .popular-light-icon {
    color: #000000;
    opacity: 0.7;
  }
  .popular-Area-details {
    margin-left: auto;
    margin-right: auto;
  }
  .Room-area-icon {
    opacity: 0.4;
  }
  .last-row {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* margin-top: 10px; */
  }
}
/* Medium devices/Tabs  */
@media (min-width: 668px) and (max-width: 1199px) {
  .popular-property-card {
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 2.40527px 10.5314px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 0px;
  }

  .popular-property-card .card-body {
    width: 100%;
    padding: 10px 0px 10px 0px;
  }

  .popular-Room-info {
    width: auto;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }

  .popular-Room-Title {
    padding: 0;
    font-size: 15px;
    text-align: left;
  }
  .popular-Room-location {
    padding-right: 9%;
    padding-top: -2%;
    width: 60%;
    font-size: 11px;
  }

  .popular-Room-price1 {
    padding-top: -2%;
    margin-left: auto;
    font-size: 10px;
  }

  .popular-Room-price2 {
    padding-top: -2%;
    margin-left: auto;
    font-size: 11px;
  }

  .Room-area-details {
    font-size: 9px;
  }

  .popular-light-icon {
    color: #000000; /* Adjust the color to make the icon lighter */
    opacity: 0.7; /* Adjust the opacity to make the icon lighter */
  }
  .popular-Area-details {
    margin-left: auto;
    margin-right: auto;
  }
  .Room-area-icon {
    opacity: 0.4;
  }
  .last-row {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* margin-top: 10px; */
  }
}
/* large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1500px) {
  .popular-property-card {
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 2.40527px 10.5314px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 0px;
  }

  .popular-property-card .card-body {
    width: 100%;
    padding: 10px 0px 10px 0px;
  }

  .popular-Room-info {
    width: auto;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }

  .popular-Room-Title {
    padding: 0;
    font-size: 15px;
    text-align: left;
  }
  .popular-Room-location {
    padding-right: 9%;
    padding-top: -2%;
    width: 60%;
    font-size: 11px;
  }

  .popular-Room-price1 {
    padding-top: -2%;
    margin-left: auto;
    font-size: 10px;
  }

  .popular-Room-price2 {
    padding-top: -2%;
    margin-left: auto;
    font-size: 11px;
  }

  .Room-area-details {
    font-size: 9px;
  }

  .popular-light-icon {
    color: #000000; /* Adjust the color to make the icon lighter */
    opacity: 0.7; /* Adjust the opacity to make the icon lighter */
  }
  .popular-Area-details {
    margin-left: auto;
    margin-right: auto;
  }
  .Room-area-icon {
    opacity: 0.4;
  }
  .last-row {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* margin-top: 10px; */
  }
}

/* Extra extra large devices (xxl screens, 1440px and up) */
@media (min-width: 1501px) {
  .popular-property-card {
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 2.40527px 10.5314px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 0px;
  }

  .popular-property-card .card-body {
    width: 100%;
    padding: 10px 0px 10px 0px;
  }

  .popular-Room-info {
    width: auto;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }

  .popular-Room-Title {
    padding: 0;
    font-size: 20px;
    text-align: left;
  }
  .popular-Room-location {
    padding-right: 9%;
    padding-top: -2%;
    width: 60%;
    font-size: 15px;
  }

  .popular-Room-price1 {
    padding-top: -2%;
    margin-left: auto;
    font-size: 13px;
  }

  .popular-Room-price2 {
    padding-top: -2%;
    margin-left: auto;
    font-size: 15px;
  }

  .Room-area-details {
    font-size: 12px;
  }

  .popular-light-icon {
    color: #000000; /* Adjust the color to make the icon lighter */
    opacity: 0.7; /* Adjust the opacity to make the icon lighter */
  }
  .popular-Area-details {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .Room-area-icon {
    opacity: 0.4;
  }
  .last-row {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* margin-top: 10px; */
  }
}
