.property-card {
  height: 480px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  border: none;
  background: #ffffff;
  box-shadow: 0px 2.40527px 10.5314px rgba(0, 0, 0, 0.07);
  border-radius: 5.41185px;
}
.mb-4 {
  margin-right: 10px; /* Increase the value to adjust the space between cards */
}

.reduced-width {
  width: 100%; /* Set the width to 100% */
  max-width: 97%; /* Set the maximum width to 97% */
  margin: 0 auto; /* Center the cards horizontally */
}

/* .property-card .card-body {
  padding: 2 0 2 0;
  width: 100%;
  height: 90%;
} */

.property-image {
  width: 95%;
  height: 200px;
  margin-left: 5px;
  margin-right: 5px;
  object-fit: cover;
  border-radius: 8.25316px 8.25316px 8px 8px;
}

/* Room title details div css */
.title-div {
  height: 70px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-div-inner {
  height: 70px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Room-Title {
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #000000;
}

.Room-location {
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #7d7f88;
}

.title-btn-div {
  height: 70px;
  display: flex;
  gap: 20px;
}
/* Room price details div css starts */

.Room-price-div {
  background-color: #e3e3e7;
  box-sizing: border-box;
  height: 85px;
  margin: 5px auto;
  background: #f5f4f8;
  border: 0.40991px solid #e3e3e7;
  border-radius: 8.1982px;
  display: flex;
}

.Room-price-cols:first-child,
.Room-price-cols:nth-child(2) {
  border-right: 0.491892px solid #d6d6d6;
  margin-left: 25px;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
}

.Room-price-cols:nth-child(3) {
  margin-left: 5px;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
}

.Room-occupancy {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Room-occupancy-title {
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #7d7f88;
}

.Room-occupancy-price {
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.013em;
  color: #1a1e25;
}

/* Room area details div css */
.Area-details {
  height: 50px;
  margin-top: 20px;
}

.Area-details .col-xs-8 {
  padding: 0;
}
.Room-area-icon {
  width: 25px;
  height: 90%;
  margin-bottom: 5px;
  color: #000000;
  stroke-width: 1;
}
.light-icon {
  color: #000000; /* Adjust the color to make the icon lighter */
  opacity: 0.7; /* Adjust the opacity to make the icon lighter */
}

.Room-area-details {
  font-family: 'Bahnschrift';
  font-weight: 350;
  font-size: 12.1px;
  color: #282431;
  opacity: 0.5;
}

.Room-card-btn {
  margin-top: 10px;
  background-color: #fa6e42;
}

.wishlist-button-container {
  position: absolute;
  top: 0.5%;
  left: 0.5%;
  transform: translate(50%, 50%);
}
