.banner {
  height: 750px;
  display: flex;
  padding: 0;
  margin: 0;
  width: auto;
  background: linear-gradient(
    89.92deg,
    #f7f7fd 46.47%,
    rgba(247, 247, 253, 0) 99.93%
  );
}

.banner-cols {
  display: flex;
}
.banner-col-1 {
  margin-bottom: 0px;
  position: relative;
}

.count-div {
  height: 100px;
  width: auto;
  display: flex;
  margin-bottom: 30px;
}

.renterCount {
  height: 38px;
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #fa6e42;
}

.renterCountdiv1 {
  border-left: 1px solid #fa6e42;
  padding-left: 20px;
}

#count-headings {
  width: 81px;
  height: 38px;

  top: 523px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #fa6e42;
}

#count-texts {
  width: 60px;
  height: 20px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #222222;
}

.categories {
  width: 75%;
  height: 66px;
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid #fa6e42;
  margin: 0;

  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}
.cat-content {
  width: 19px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;

  color: #222222;

  flex: 1;
  text-align: center;
}

.requirmentFilter {
  width: 130%;
  height: 80px;
  background: #ffffff;
  border-radius: 0 10px 10px 10px;
  /* Add Flexbox properties */
  margin-left: auto;

  position: relative;
  z-index: 3;

  padding: 0;
}
.vertical-part1 {
  /* Divide vertically */
  display: flex;
  flex-direction: column;
  z-index: 3 !important;
  padding-left: 10px;
}
.vertical-part2 {
  /* Divide vertically */
  display: flex;
  flex-direction: column;
}

.budgets {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}
.budgets2 {
  display: flex;
  flex-direction: row;
  padding-right: 0px;
  margin-top: 13px;
  margin-bottom: 0;
}

.text1 {
  height: 20px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;

  color: #222222;
  cursor: pointer;

  border: '2px solid black';
}

.icon-1 {
  margin-right: auto;
  margin-left: 5px;
}
.icon-2 {
  margin-left: auto;
  text-align: end;
}

.text2 {
  height: 15px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #222222;
  opacity: 0.5;
  margin-top: auto;

  align-self: flex-end;
  text-align: end;
}
.text2_location {
  height: 25px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #222222;

  margin-top: auto;
  border: 2px solid #fa6e42;
  border-radius: 10px;

  display: flex;
  margin-right: auto;
  justify-content: center;

  background-color: rgba(248, 248, 254, 1);
  padding: 5px;
}
.text2_budget {
  height: 25px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #222222;

  margin-top: auto;
  padding: 0 3px 0 3px;
  border: 2px solid #fa6e42;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(248, 248, 254, 1);
}

.vertical-part3 {
  /* Divide vertically */
  display: flex;
  flex-direction: column;
  flex: 1;
}
.banner-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.search-text {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #ffffff;
  opacity: 0.9;
}
.banner-headings {
  font-family: 'Plus Jakarta Sans';
  font-style: 'normal';
  font-weight: 800;
  font-size: 50px;
  /* line-height: 70px; */
  letter-spacing: '0.01em';
  color: '#222222';
}
.banner-text {
  width: 95%;
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */

  letter-spacing: 0.01em;

  color: #222222;

  margin-bottom: 30px;
}

.requirmentFilter .vertical-part1,
.requirmentFilter .vertical-part2 {
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  height: calc(100% - 30%);
  padding-bottom: 2px;
  margin-top: 10px;
}
.banner-drop {
  background-color: none;
}

@media (min-width: 523px) and (max-width: 768px) {
  .banner {
    height: 550px;
    display: flex;
    padding: 0;
    margin: 0;
    width: auto;
    background: linear-gradient(
      89.92deg,
      #f7f7fd 46.47%,
      rgba(247, 247, 253, 0) 99.93%
    );
  }
}

@media (max-width: 522px) {
  .banner {
    height: 420px;
    display: flex;
    padding: 0;
    margin: 0;
    width: auto;
    background: linear-gradient(
      89.92deg,
      #f7f7fd 46.47%,
      rgba(247, 247, 253, 0) 99.93%
    );
  }

  #count-headings {
    width: 81px;
    height: 38px;
    top: 523px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #fa6e42;
  }

  #count-texts {
    width: 20px;
    height: 10px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 1px;
    letter-spacing: 0.01em;
    color: #222222;
  }

  .banner-headings {
    font-family: 'Plus Jakarta Sans';
    font-style: 'normal';
    font-weight: 800;
    font-size: 25px;
    /* line-height: 70px; */
    letter-spacing: '0.01em';
    color: '#222222';
  }
  .banner-text {
    width: 95%;
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 30px;
    /* or 188% */

    letter-spacing: 0.01em;

    color: #222222;

    margin-bottom: 30px;
  }

  .banner-cols {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
