/* SignUp Modal Styling starts*/

/* Reccomended properties section css */

.property-card-small {
  width: 220px;
  height: 300px;
  margin: 0 auto;
}

.property-image-small {
  height: 80%;
  object-fit: cover;
}

.Room-location-small {
  text-align: left;
  margin-top: 10px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16.3px;
  line-height: 100%;
  /* or 16px */
  letter-spacing: 0.02em;
  /* Foundation /Blue/Dark */
  color: #1a1e25;
}

.Romm-location-small-text {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13.5833px;
  line-height: 100%;
  /* identical to box height, or 14px */
  letter-spacing: 0.02em;
  /* nav-gray */
  color: #7d7f88;
  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

  margin-top: 5px;
}

.Room-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #eee;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  background: #efefef;
}

.Room-card-btn {
  border-radius: 50px;
  width: 80px;
}

.Room-info2 {
  justify-content: flex-end;
  text-align: right;
}

.Room-price {
  display: inline-block;
  width: 119.86px;
  height: 20px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13.5693px;
  line-height: 150%;
  /* or 20px */

  text-align: right;

  color: #fa6e42;
  margin-left: 100px;
}

/* Modals CSS Starts */

.signUpModalBody {
  height: 400px;
  width: 962px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(251, 251, 251, 0) 53.59%,
    #fcfcfc 87.94%
  );
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 25.01px;
}
.signUpSec1 {
  height: 565px;

  background: linear-gradient(
    180deg,
    rgba(251, 251, 251, 0) 53.59%,
    #fcfcfc 87.94%
  );
}

.modal-fade-show {
  display: block;
}

.btn-style {
  height: 56.84px;
  margin-left: 18px;
  right: 18px;
  bottom: 70.48px;
  background-color: #fa6e42;
  border-radius: 11.3671px;
}

.singup-modal-sec2 {
  top: 125px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 25.01px;
  position: absolute;

  height: 292.13px;

  background: #fcfcfc;
}
.singup-modal-sec21 {
  width: 389.89px;
  height: 37px;
  font-family: Plus Jakarta Sans;
  font-size: normal;
  font-weight: 700;
  font-size: 25.0075px;
  line-height: 36px;
  text-align: center;
  color: #1a1e25;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.singup-modal-sec22 {
  width: 389.89px;
  height: 56px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #7d7f88;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.singup-modal-sec24 {
  width: 70%;
  height: 56.84px;
  border: #fa6e42 1px solid;

  background: #fa6e42;
  border-radius: 11.3671px;
  font-weight: 500;
  font-size: 16px;
}
.singup-modal-sec23 {
  width: '362px';
  height: 56.84px;

  border-radius: 11.37px;
  margin: 11.37px;
  background: #ffffff;
  border: 0.91px solid #e3e3e7;
  font-weight: 500;
  font-size: 16px;
}

.modal-dialog {
  max-width: 962px; /* Set the maximum width */
  margin: auto; /* Center the modal horizontally */
}

.modal-content {
  width: 100%; /* Set the width to 100% */
  border-radius: 0; /* Remove border radius */
}

.signUpModalBody {
  padding: 15px; /* Add padding to the modal body */
}

.singup-modal-sec2 {
  /* Remove the absolute positioning and set width to 100% */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25.01px;
  width: 100%;
  background: #fcfcfc;
}

.singup-modal-sec24,
.singup-modal-sec23 {
  width: 362px;
  font-size: 25.0075px;
}
.custom-input {
  box-sizing: border-box;
  width: 350px;
  height: 56.84px;
  left: 20px;
  background: #ffffff;
  border: 0.909364px solid #e3e3e7;
  border-radius: 11.3671px;
}

.signModalBoder {
  width: 100%;
  border-top: 1px solid #e3e3e7;
  position: relative;
}

.signModalLoginWith {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background: white;
  font-size: x-large;
  position: relative;
  z-index: 2;
  box-shadow: 0px -1px 0px white;
  background-clip: padding-box;
}
.custom-input-otp {
  box-sizing: border-box;

  height: 56.84px;
  left: 0.38px;
  right: 304.62px;
  bottom: 87.42px;
  width: 80px;
  margin-top: 100%;

  background: #f7f8f9;
  border: 0.909364px solid #e3e3e7;
  border-radius: 11.3671px;
}

/* SignUp Modal Styling ends*/

.location-1 {
  position: absolute;
  width: 15%;
  height: 23px;
  left: 55%;
  top: 50%;
  font-size: small;

  background: #efefef;
  border-radius: 4.35443px;
}
.localities {
  position: absolute;
  width: 237px;
  height: 28px;
  left: 54%;
  top: 58%;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  /* identical to box height, or 171% */

  letter-spacing: 0.013em;

  color: #090909;
}
.prop-btn {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  margin: 2%;
  width: 49px;
  height: 36px;
  background: #ebeaee;
  border-radius: 20px;
  color: #090909;
  border: none;
  font-weight: 500;
}
.prop-btn:hover {
  background: #fa6e42; /* Background color on hover */
}
.price-slider-container {
  position: relative;
  width: 100%;
  height: 40px;
}

.price-cone {
  position: absolute;
  bottom: -22%;

  border-top: 25px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 450px solid rgb(246, 156, 85);
}
.input-range .input-range__track {
  background-color: orange;
}

/* All properties page CSS  */
.top-div {
  text-align: center;
}
.top-div-text {
  margin-top: 25px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  /* identical to box height, or 140% */
  letter-spacing: 0.01em;
  color: #222222;
}
.top-div2 {
  text-align: left;
}

.top-div3 {
  text-align: left;
  width: 577px;
  height: 70px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 70px;
  /* identical to box height, or 233% */

  letter-spacing: 0.01em;

  color: #222222;

  margin-left: 150px;
  margin-top: -10px;
}

.prop-btn {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  margin: 2%;
  width: 49px;
  height: 36px;
  background: #ebeaee;
  border-radius: 20px;
  color: #090909;
  border: none;
  font-weight: 500;
}
.prop-btn:hover {
  background: #fa6e42; /* Background color on hover */
}
.btn-button {
  min-width: 98px;
  width: auto;
  height: 48px;
  align-items: center;
  background: #dfdfdf;
  border-radius: 10px;
  border: none;
  color: #7d7f88;
}
.btn-button:hover {
  background: #fa6e42; /* Background color on hover */
}
.price-slider-container {
  position: relative;
  width: 100%;
  height: 40px;
}

.price-cone {
  position: absolute;
  bottom: -22%;

  border-top: 25px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 450px solid rgb(246, 156, 85);
}
.input-range .input-range__track {
  background-color: orange;
}

/* property-detail-page -css */

.prop-img-1 {
  position: absolute;
  width: 825.89px;
  height: 527.48px;
  left: 129px;
  top: 145.26px;

  border-radius: 21.015px;
}
.prop-img-2 {
  position: absolute;
  width: 505px;
  height: 236px;
  left: 984px;
  top: 145.26px;

  border-radius: 15.01px;
  box-sizing: border-box;
  background-size: cover;
}
.prop-img-3 {
  position: absolute;
  width: 505px;
  height: 236px;
  left: 984px;
  top: 433px;
  background-size: cover;
  border-radius: 15.01px;
  box-sizing: border-box;
}
.book-site {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 131px;
  top: 713px;
}
.book-site-1 {
  position: absolute;
  width: 681px;

  font-family: 'Plus Jakarta Sans';
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}
