/* navbar css starts*/

.navbar {
  width: 100vw;
  height: 95px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 32px 64px -12px rgba(9, 9, 9, 0.1);
}

.logo-img {
  width: 166.64px;
  height: 47px;
  margin-left: 10px;
}

.navbar-toggler {
  border: none;
  background-color: #fff;
}

.nav-link {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.post-button,
.signup-button {
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.post-button {
  position: absolute;
  top: 19px;
  right: 250px;
  width: 209px;
  height: 50px;
  border: 1px solid #fff;
  background: #fa6e42;
  border-radius: 10px;
}

.signup-button {
  position: absolute;
  top: 19px;
  right: 50px;
  width: 133px;
  height: 50px;
  background: #fa6e42; /* Updated */
  color: #fff; /* Updated */
  border: 1px solid #fa6e42;
  border-radius: 10px;
}

.signup-button:hover,
.signup-button:focus {
  background-color: #fff;
  color: #fa6e42;
}

.post-button:hover,
.post-button:focus {
  background-color: #fff;
  color: #fa6e42;
  border: 1px solid #fa6e42;
}

@media (min-width: 1237px) and (max-width: 1440px) {
  .post-button {
    right: 250px;
  }

  .signup-button {
    right: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .post-button {
    right: 250px;
  }

  .signup-button {
    right: 50px;
  }
}

@media (max-width: 992px) {
  .post-button,
  .signup-button {
    position: relative;
    width: 100%;
    margin: 8px;
    right: 0;
  }

  .post-button:hover,
  .post-button:focus,
  .signup-button:hover,
  .signup-button:focus {
    background-color: #fff;
    color: #fa6e42;
    border: 1px solid #fa6e42;
  }
}

/* navbar css endss*/

/* Banner CSS starts */

.banner {
  background: linear-gradient(
    89.92deg,
    #f7f7fd 46.47%,
    rgba(247, 247, 253, 0) 99.93%
  );
}
.banner-heading {
  position: absolute;
  width: 553px;
  height: 210px;
  left: 131px;
  top: 175px;

  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 70px;
  /* or 140% */

  letter-spacing: 0.01em;

  color: #222222;
}
.bannerQutes {
  position: absolute;
  width: 421px;
  height: 60px;
  left: 132px;
  top: 411px;

  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */

  letter-spacing: 0.01em;

  color: #222222;
}

.count {
  width: 81px;
  height: 46px;
  top: 523px;
  position: absolute;
  width: 69px;
  height: 0px;
  left: 131px;
}
.renterCount {
  position: absolute;
  width: 81px;
  height: 38px;

  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #fa6e42;
}
.proprtyCount {
  position: absolute;
  width: 81px;
  height: 38px;
  left: 348px;

  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #fa6e42;

  /* identical to box height */
}
.renterCountdiv1 {
  border-left: 1px solid #fa6e42;
  padding-right: 25px;
  margin-left: -14px;
}
.categories {
  position: absolute;
  width: 415px;
  height: 66px;
  left: 130px;
  top: 645px;

  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  border-bottom: #fa6e42 1px;
}

.requirmentFilter {
  position: absolute;
  width: 785px;
  height: 105px;
  left: 130px;
  top: 703px;

  background: #ffffff;
  border-radius: 10px;
  border: 1px solid black;
}
.locationFilter {
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;

  color: #222222;
}
.add-more {
  position: absolute;
  width: 57px;
  height: 15px;
  left: 30px;

  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;

  color: #222222;

  opacity: 0.5;
}

/* Home Page CSS Starts */

.homeSection1 {
  /* position: absolute; */
  width: 88%;
  height: 500px;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 50px;
  padding: 10px;
  margin-bottom: 75px;
}
.homeSection1Heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 70px;
  letter-spacing: 0.01em;
  color: #222222;
}

.seeAllText {
  cursor: pointer;
  width: 78px;
  height: 70px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 70px;
  /* identical to box height, or 350% */

  text-align: right;
  letter-spacing: 0.01em;

  color: #fa6e42;
}

.homeSection2 {
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 20px;
  padding: 20px;
  height: 450px;
  left: 0px;
  background: #f8f8fe;
  margin-bottom: 75px;
}

.homeSection3 {
  position: relative;
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 50px;
  padding: 20px;
  height: 500px;
  margin-bottom: 75px;
}

.homeSection3Image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 77.15%
    ),
    #ffffff;
  border-radius: 34px;
}

.homeSection3Text {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 207px;
  height: 38px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 125%;
  /* identical to box height, or 38px */

  color: #ffffff;
}
.homeSection3Text2 {
  position: absolute;
  left: 50px;
  bottom: 3px;
  width: 207px;
  height: 38px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 125%;
  /* identical to box height, or 38px */

  color: #ffffff;
}
.homeSection3Text2 .star {
  color: yellow;
}
.homeSection3PriceTag {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #ffcc00;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;

  width: 202.64px;
  height: 53.05px;

  background: #fa6e42;
  border-radius: 0 34px 0 10px;
  padding: 10px;
}
.homeSection3PriceTagText {
  width: 1554px;
  height: 471px;
  left: 0px;
  top: 1519px;
  color: #f8f8fe;
}

.homeSection4 {
  width: 88%;
  height: 550px;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background: #f8f8fe;
}
.homeSection5 {
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 20px;
  padding: 20px;
  height: 450px;
  margin-bottom: 200px;
}
.homeSection5Buttons {
  height: 75px;
  width: 100%;

  padding: 0;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.03em;

  /* Grey - Dark */

  color: #252b5c;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.homeSectionHeading {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 70px;
  /* identical to box height, or 233% */

  letter-spacing: 0.01em;

  color: #222222;
}

/* Home Page CSS Ends */

/* Property cards section */

.property-image {
  width: 100%;
  height: 175px;
  object-fit: cover; /* Adjust as needed (e.g., cover, contain, etc.) */
}

/* Room price details div css */

.Room-Title {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12.3797px;
  line-height: 19px;
  /* or 150% */
  letter-spacing: 0.03em;
  color: #000000;
}

.Room-location {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11.5385px;
  line-height: 130%;
  /* or 15px */
  letter-spacing: 0.01em;
  /* nav-gray */
  color: #7d7f88;
}

.Room-price-div {
  background-color: #e3e3e7;
  box-sizing: border-box;
  /* width: 379px; */
  height: 63.54px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f5f4f8;
  border: 0.40991px solid #e3e3e7;
  border-radius: 8.1982px;
}
.Room-price-cols:first-child,
.Room-price-cols:nth-child(2) {
  border-right: 0.491892px solid #d6d6d6;
  margin-left: 25px;
  height: 80%;
  margin-top: 5px;
}
.Room-price-cols:nth-child(3) {
  margin-left: 5px;
  height: 80%;
  margin-top: 5px;
}

.Room-occupancy {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Room-occupancy span {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #7d7f88;
}

.Room-occupancy-price {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.013em;
  color: #1a1e25;
}

/* Room area details div css */
.Area-details {
  margin-top: 15px;
}
.Room-area-details {
  font-family: 'Bahnschrift';
  font-style: normal;
  font-weight: 350;
  font-size: 10.2481px;
  /* or 681% */

  color: #282431;

  opacity: 0.5;
}
.Room-card-btn {
  margin-top: 10px;
  background-color: #fa6e42;
}

/* SignUp Modal Styling starts*/

/* Reccomended properties section css */

.property-card-small {
  width: 220px;
  height: 300px;
  margin: 0 auto;
}

.property-image-small {
  height: 80%;
  object-fit: cover;
}

.Room-location-small {
  text-align: left;
  margin-top: 10px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16.3px;
  line-height: 100%;
  /* or 16px */
  letter-spacing: 0.02em;
  /* Foundation /Blue/Dark */
  color: #1a1e25;
}

.Romm-location-small-text {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13.5833px;
  line-height: 100%;
  /* identical to box height, or 14px */
  letter-spacing: 0.02em;
  /* nav-gray */
  color: #7d7f88;
  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

  margin-top: 5px;
}

.Room-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #eee;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  background: #efefef;
}

.Room-card-btn {
  border-radius: 50px;
  width: 80px;
}

.Room-info2 {
  justify-content: flex-end;
  text-align: right;
}

.Room-price {
  display: inline-block;
  width: 119.86px;
  height: 20px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13.5693px;
  line-height: 150%;
  /* or 20px */

  text-align: right;

  color: #fa6e42;
  margin-left: 100px;
}

/* Modals CSS Starts */

.signUpModalBody {
  height: 400px;
  width: 962px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(251, 251, 251, 0) 53.59%,
    #fcfcfc 87.94%
  );
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 25.01px;
}
.signUpSec1 {
  height: 565px;

  background: linear-gradient(
    180deg,
    rgba(251, 251, 251, 0) 53.59%,
    #fcfcfc 87.94%
  );
}

.modal-fade-show {
  display: block;
}

.btn-style {
  height: 56.84px;
  margin-left: 18px;
  right: 18px;
  bottom: 70.48px;
  background-color: #fa6e42;
  border-radius: 11.3671px;
}

.singup-modal-sec2 {
  top: 125px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 25.01px;
  position: absolute;

  height: 292.13px;

  background: #fcfcfc;
}
.singup-modal-sec21 {
  width: 389.89px;
  height: 37px;
  font-family: Plus Jakarta Sans;
  font-size: normal;
  font-weight: 700;
  font-size: 25.0075px;
  line-height: 36px;
  text-align: center;
  color: #1a1e25;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.singup-modal-sec22 {
  width: 389.89px;
  height: 56px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #7d7f88;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.singup-modal-sec24 {
  width: 70%;
  height: 56.84px;
  border: #fa6e42 1px solid;

  background: #fa6e42;
  border-radius: 11.3671px;
  font-weight: 500;
  font-size: 16px;
}
.singup-modal-sec23 {
  width: '362px';
  height: 56.84px;

  border-radius: 11.37px;
  margin: 11.37px;
  background: #ffffff;
  border: 0.91px solid #e3e3e7;
  font-weight: 500;
  font-size: 16px;
}

.modal-dialog {
  max-width: 962px; /* Set the maximum width */
  margin: auto; /* Center the modal horizontally */
}

.modal-content {
  width: 100%; /* Set the width to 100% */
  border-radius: 0; /* Remove border radius */
}

.signUpModalBody {
  padding: 15px; /* Add padding to the modal body */
}

.singup-modal-sec2 {
  /* Remove the absolute positioning and set width to 100% */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25.01px;
  width: 100%;
  background: #fcfcfc;
}

.singup-modal-sec24,
.singup-modal-sec23 {
  width: 362px;
  font-size: 25.0075px;
}
.custom-input {
  box-sizing: border-box;
  width: 350px;
  height: 56.84px;
  left: 20px;
  background: #ffffff;
  border: 0.909364px solid #e3e3e7;
  border-radius: 11.3671px;
}

.signModalBoder {
  width: 100%;
  border-top: 1px solid #e3e3e7;
  position: relative;
}

.signModalLoginWith {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background: white;
  font-size: x-large;
  position: relative;
  z-index: 2;
  box-shadow: 0px -1px 0px white;
  background-clip: padding-box;
}
.custom-input-otp {
  box-sizing: border-box;

  height: 56.84px;
  left: 0.38px;
  right: 304.62px;
  bottom: 87.42px;
  width: 80px;
  margin-top: 100%;

  background: #f7f8f9;
  border: 0.909364px solid #e3e3e7;
  border-radius: 11.3671px;
}

/* SignUp Modal Styling ends*/

.location-1 {
  position: absolute;
  width: 15%;
  height: 23px;
  left: 55%;
  top: 50%;
  font-size: small;

  background: #efefef;
  border-radius: 4.35443px;
}
.localities {
  position: absolute;
  width: 237px;
  height: 28px;
  left: 54%;
  top: 58%;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  /* identical to box height, or 171% */

  letter-spacing: 0.013em;

  color: #090909;
}
.prop-btn {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  margin: 2%;
  width: 49px;
  height: 36px;
  background: #ebeaee;
  border-radius: 20px;
  color: #090909;
  border: none;
  font-weight: 500;
}
.prop-btn:hover {
  background: #fa6e42; /* Background color on hover */
}
.price-slider-container {
  position: relative;
  width: 100%;
  height: 40px;
}

.price-cone {
  position: absolute;
  bottom: -22%;

  border-top: 25px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 450px solid rgb(246, 156, 85);
}
.input-range .input-range__track {
  background-color: orange;
}

/* All properties page CSS  */
.top-div {
  text-align: center;
}
.top-div-text {
  margin-top: 25px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  /* identical to box height, or 140% */
  letter-spacing: 0.01em;
  color: #222222;
}
.top-div2 {
  text-align: left;
}

.top-div3 {
  text-align: left;
  width: 577px;
  height: 70px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 70px;
  /* identical to box height, or 233% */

  letter-spacing: 0.01em;

  color: #222222;

  margin-left: 150px;
  margin-top: -10px;
}
